ProyectoNET/PUCPSaludable/Connected Services/AutenticacionWS/authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="changePassword" type="tns:changePassword" />
  <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
  <xs:element name="getSpecialties" type="tns:getSpecialties" />
  <xs:element name="getSpecialtiesResponse" type="tns:getSpecialtiesResponse" />
  <xs:element name="registerAsNutricionist" type="tns:registerAsNutricionist" />
  <xs:element name="registerAsNutricionistResponse" type="tns:registerAsNutricionistResponse" />
  <xs:element name="registerAsStudent" type="tns:registerAsStudent" />
  <xs:element name="registerAsStudentResponse" type="tns:registerAsStudentResponse" />
  <xs:element name="sessionsList" type="tns:sessionsList" />
  <xs:element name="sessionsListResponse" type="tns:sessionsListResponse" />
  <xs:element name="signIn" type="tns:signIn" />
  <xs:element name="signInResponse" type="tns:signInResponse" />
  <xs:element name="signOut" type="tns:signOut" />
  <xs:element name="signOutResponse" type="tns:signOutResponse" />
  <xs:element name="verifyRegisteredUser" type="tns:verifyRegisteredUser" />
  <xs:element name="verifyRegisteredUserResponse" type="tns:verifyRegisteredUserResponse" />
  <xs:element name="verifySession" type="tns:verifySession" />
  <xs:element name="verifySessionResponse" type="tns:verifySessionResponse" />
  <xs:complexType name="signOut">
    <xs:sequence>
      <xs:element name="activeSessionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signOutResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registerAsNutricionist">
    <xs:sequence>
      <xs:element minOccurs="0" name="nutricionist" type="tns:nutricionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nutricionista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:especialistaSalud">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentarios" nillable="true" type="tns:planAlimentario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialistaSalud" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:especialista">
        <xs:sequence>
          <xs:element minOccurs="0" name="colegiatura" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialista" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="biografia" type="xs:string" />
          <xs:element minOccurs="0" name="direccionLaboral" type="xs:string" />
          <xs:element minOccurs="0" name="telefonoLaboral" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="emailPersonal" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoSrc" type="xs:base64Binary" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="telefonoMovil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="comida" type="tns:presetReceta" />
      <xs:element name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="fid_Nutricionista" type="xs:int" />
      <xs:element name="tipoComida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="creditosAprobados" type="xs:double" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="matriculado" type="xs:int" />
          <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
          <xs:element minOccurs="0" name="numContacto" type="xs:string" />
          <xs:element minOccurs="0" name="parentezcoContacto" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentarios" nillable="true" type="tns:planAlimentario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="tns:facultad" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facultad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionFacultad" type="xs:string" />
      <xs:element name="id_facultad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreFacultad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presetReceta">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element name="idPresetReceta" type="xs:int" />
      <xs:element name="kcal" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerAsNutricionistResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sessionsList">
    <xs:sequence>
      <xs:element name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sessionsListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sesionActiva" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sesionActiva">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="valida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verifyRegisteredUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verifyRegisteredUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePassword">
    <xs:sequence>
      <xs:element name="uid" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="changePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerAsStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="student" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerAsStudentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verifySession">
    <xs:sequence>
      <xs:element name="sessionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verifySessionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecialties">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSpecialtiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signInResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>