ProyectoNET/PUCPSaludable/Connected Services/PlanAlimentarioWS/PlanAlimentario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPlanAlimAlumno" type="tns:eliminarPlanAlimAlumno" />
  <xs:element name="eliminarPlanAlimAlumnoResponse" type="tns:eliminarPlanAlimAlumnoResponse" />
  <xs:element name="generarIngredientesCompra" type="tns:generarIngredientesCompra" />
  <xs:element name="generarIngredientesCompraResponse" type="tns:generarIngredientesCompraResponse" />
  <xs:element name="generarNuevoPlanAlumno" type="tns:generarNuevoPlanAlumno" />
  <xs:element name="generarNuevoPlanAlumnoResponse" type="tns:generarNuevoPlanAlumnoResponse" />
  <xs:element name="ingredientesPreset" type="tns:ingredientesPreset" />
  <xs:element name="ingredientesPresetResponse" type="tns:ingredientesPresetResponse" />
  <xs:element name="insertarNuevoPlan" type="tns:insertarNuevoPlan" />
  <xs:element name="insertarNuevoPlanResponse" type="tns:insertarNuevoPlanResponse" />
  <xs:element name="modificarPlanAlumno" type="tns:modificarPlanAlumno" />
  <xs:element name="modificarPlanAlumnoResponse" type="tns:modificarPlanAlumnoResponse" />
  <xs:element name="planAlimentarioAlumno" type="tns:planAlimentarioAlumno" />
  <xs:element name="planAlimentarioAlumnoPreset" type="tns:planAlimentarioAlumnoPreset" />
  <xs:element name="planAlimentarioAlumnoPresetResponse" type="tns:planAlimentarioAlumnoPresetResponse" />
  <xs:element name="planAlimentarioAlumnoResponse" type="tns:planAlimentarioAlumnoResponse" />
  <xs:element name="presetsPorTipoC" type="tns:presetsPorTipoC" />
  <xs:element name="presetsPorTipoCResponse" type="tns:presetsPorTipoCResponse" />
  <xs:element name="recetaPorPresetID" type="tns:recetaPorPresetID" />
  <xs:element name="recetaPorPresetIDResponse" type="tns:recetaPorPresetIDResponse" />
  <xs:complexType name="modificarPlanAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentario" type="tns:planAlimentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="comida" type="tns:presetReceta" />
      <xs:element name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="fid_Nutricionista" type="xs:int" />
      <xs:element name="tipoComida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="creditosAprobados" type="xs:double" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="matriculado" type="xs:int" />
          <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
          <xs:element minOccurs="0" name="numContacto" type="xs:string" />
          <xs:element minOccurs="0" name="parentezcoContacto" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentarios" nillable="true" type="tns:planAlimentario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="emailPersonal" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoSrc" type="xs:base64Binary" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="telefonoMovil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="tns:facultad" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facultad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionFacultad" type="xs:string" />
      <xs:element name="id_facultad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreFacultad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presetReceta">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element name="idPresetReceta" type="xs:int" />
      <xs:element name="kcal" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPlanAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPlanAlimAlumno">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPlanAlimAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="plan" type="tns:planAlimentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNuevoPlanResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recetaPorPresetID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recetaPorPresetIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:receta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receta">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idReceta" type="xs:int" />
      <xs:element minOccurs="0" name="indicaciones" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presetsPorTipoC">
    <xs:sequence>
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presetsPorTipoCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:presetReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarNuevoPlanAlumno">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarNuevoPlanAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:presetReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentarioAlumnoPreset">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentarioAlumnoPresetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:presetReceta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarIngredientesCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarIngredientesCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentarioAlumno">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentarioAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:planAlimentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientesPreset">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredientesPresetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ingrediente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingrediente">
    <xs:sequence>
      <xs:element name="azucar" type="xs:boolean" />
      <xs:element name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="detalle" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="grasasSaturadas" type="xs:boolean" />
      <xs:element name="grasasTrans" type="xs:boolean" />
      <xs:element name="idIngrediente" type="xs:int" />
      <xs:element name="kcal" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="sodio" type="xs:boolean" />
      <xs:element minOccurs="0" name="unidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>