ProyectoNET/PUCPSaludable/Connected Services/CitasWS/CitasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cancelarCitaXAlumnoOEspecialista" type="tns:cancelarCitaXAlumnoOEspecialista" />
  <xs:element name="cancelarCitaXAlumnoOEspecialistaResponse" type="tns:cancelarCitaXAlumnoOEspecialistaResponse" />
  <xs:element name="eliminarCitaxId" type="tns:eliminarCitaxId" />
  <xs:element name="eliminarCitaxIdResponse" type="tns:eliminarCitaxIdResponse" />
  <xs:element name="getAvailableAppointments" type="tns:getAvailableAppointments" />
  <xs:element name="getAvailableAppointmentsResponse" type="tns:getAvailableAppointmentsResponse" />
  <xs:element name="getNutritionists" type="tns:getNutritionists" />
  <xs:element name="getNutritionistsResponse" type="tns:getNutritionistsResponse" />
  <xs:element name="listarCitaHistoricaNutricionistaPorID" type="tns:listarCitaHistoricaNutricionistaPorID" />
  <xs:element name="listarCitaHistoricaNutricionistaPorIDResponse" type="tns:listarCitaHistoricaNutricionistaPorIDResponse" />
  <xs:element name="listarCitaHistoricaNutricionistaPorNombre" type="tns:listarCitaHistoricaNutricionistaPorNombre" />
  <xs:element name="listarCitaHistoricaNutricionistaPorNombreResponse" type="tns:listarCitaHistoricaNutricionistaPorNombreResponse" />
  <xs:element name="listarCitaHistoricaPorID" type="tns:listarCitaHistoricaPorID" />
  <xs:element name="listarCitaHistoricaPorIDResponse" type="tns:listarCitaHistoricaPorIDResponse" />
  <xs:element name="listarCitaHistoricaPorNombreCodigo" type="tns:listarCitaHistoricaPorNombreCodigo" />
  <xs:element name="listarCitaHistoricaPorNombreCodigoResponse" type="tns:listarCitaHistoricaPorNombreCodigoResponse" />
  <xs:element name="listarCitaProgramadaNutricionistaPorID" type="tns:listarCitaProgramadaNutricionistaPorID" />
  <xs:element name="listarCitaProgramadaNutricionistaPorIDResponse" type="tns:listarCitaProgramadaNutricionistaPorIDResponse" />
  <xs:element name="listarCitaProgramadaNutricionistaPorNombre" type="tns:listarCitaProgramadaNutricionistaPorNombre" />
  <xs:element name="listarCitaProgramadaNutricionistaPorNombreResponse" type="tns:listarCitaProgramadaNutricionistaPorNombreResponse" />
  <xs:element name="listarCitaProgramadaPorID" type="tns:listarCitaProgramadaPorID" />
  <xs:element name="listarCitaProgramadaPorIDResponse" type="tns:listarCitaProgramadaPorIDResponse" />
  <xs:element name="listarCitaProgramadaPorNombreCodigo" type="tns:listarCitaProgramadaPorNombreCodigo" />
  <xs:element name="listarCitaProgramadaPorNombreCodigoResponse" type="tns:listarCitaProgramadaPorNombreCodigoResponse" />
  <xs:element name="modificarCita" type="tns:modificarCita" />
  <xs:element name="modificarCitaResponse" type="tns:modificarCitaResponse" />
  <xs:element name="registerAppointment" type="tns:registerAppointment" />
  <xs:element name="registerAppointmentResponse" type="tns:registerAppointmentResponse" />
  <xs:complexType name="listarCitaProgramadaNutricionistaPorID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaNutricionistaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cita">
    <xs:sequence>
      <xs:element name="atencion" type="xs:int" />
      <xs:element minOccurs="0" name="diagnostico" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHoraAtencion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaHoraRegistro" type="xs:dateTime" />
      <xs:element name="fid_alumno" type="xs:int" />
      <xs:element name="fid_especialista" type="xs:int" />
      <xs:element name="id_cita" type="xs:int" />
      <xs:element minOccurs="0" name="referencia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cita" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCitaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaPorNombreCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaPorNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaNutricionistaPorID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaNutricionistaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaPorID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNutritionists">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getNutritionistsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:nutricionista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nutricionista">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:especialistaSalud">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentarios" nillable="true" type="tns:planAlimentario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialistaSalud" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:especialista">
        <xs:sequence>
          <xs:element minOccurs="0" name="colegiatura" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialista" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="biografia" type="xs:string" />
          <xs:element minOccurs="0" name="direccionLaboral" type="xs:string" />
          <xs:element minOccurs="0" name="telefonoLaboral" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="emailPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="emailPersonal" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoSrc" type="xs:base64Binary" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="telefonoMovil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="planAlimentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="comida" type="tns:presetReceta" />
      <xs:element name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="fid_Nutricionista" type="xs:int" />
      <xs:element name="tipoComida" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="creditosAprobados" type="xs:double" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="matriculado" type="xs:int" />
          <xs:element minOccurs="0" name="nombreContacto" type="xs:string" />
          <xs:element minOccurs="0" name="numContacto" type="xs:string" />
          <xs:element minOccurs="0" name="parentezcoContacto" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planesAlimentarios" nillable="true" type="tns:planAlimentario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionEspecialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="tns:facultad" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreEspecialidad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facultad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionFacultad" type="xs:string" />
      <xs:element name="id_facultad" type="xs:int" />
      <xs:element minOccurs="0" name="nombreFacultad" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="presetReceta">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element name="idPresetReceta" type="xs:int" />
      <xs:element name="kcal" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCitaxId">
    <xs:sequence>
      <xs:element name="idCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCitaxIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaPorNombreCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaPorNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="appointment" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerAppointmentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailableAppointments">
    <xs:sequence>
      <xs:element name="specialistID" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAvailableAppointmentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaPorID">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaNutricionistaPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaProgramadaNutricionistaPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaNutricionistaPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCitaHistoricaNutricionistaPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cita" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarCitaXAlumnoOEspecialista">
    <xs:sequence>
      <xs:element name="idCita" type="xs:int" />
      <xs:element name="idAlum" type="xs:int" />
      <xs:element name="idEsp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarCitaXAlumnoOEspecialistaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>