ProyectoNET/PUCPSaludable/Connected Services/HorarioCitaWS/HorarioCitasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HorarioCitasService" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioCitasService?xsd=1" namespace="http://services.pucpsaludable.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorEspec">
    <part name="parameters" element="tns:listarPorEspec" />
  </message>
  <message name="listarPorEspecResponse">
    <part name="parameters" element="tns:listarPorEspecResponse" />
  </message>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <message name="eliminarHorariosAnteriores">
    <part name="parameters" element="tns:eliminarHorariosAnteriores" />
  </message>
  <message name="eliminarHorariosAnterioresResponse">
    <part name="parameters" element="tns:eliminarHorariosAnterioresResponse" />
  </message>
  <portType name="HorarioCitasService">
    <operation name="listarPorEspec">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/listarPorEspecRequest" message="tns:listarPorEspec" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/listarPorEspecResponse" message="tns:listarPorEspecResponse" />
    </operation>
    <operation name="insertar">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/insertarRequest" message="tns:insertar" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/insertarResponse" message="tns:insertarResponse" />
    </operation>
    <operation name="eliminarHorariosAnteriores">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/eliminarHorariosAnterioresRequest" message="tns:eliminarHorariosAnteriores" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioCitasService/eliminarHorariosAnterioresResponse" message="tns:eliminarHorariosAnterioresResponse" />
    </operation>
  </portType>
  <binding name="HorarioCitasServicePortBinding" type="tns:HorarioCitasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorEspec">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHorariosAnteriores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HorarioCitasService">
    <port name="HorarioCitasServicePort" binding="tns:HorarioCitasServicePortBinding">
      <soap:address location="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioCitasService" />
    </port>
  </service>
</definitions>