ProyectoNET/PUCPSaludable/Connected Services/AdministradorWS/AdministradorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdministradorService" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AdministradorService?xsd=1" namespace="http://services.pucpsaludable.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="getRules">
    <part name="parameters" element="tns:getRules" />
  </message>
  <message name="getRulesResponse">
    <part name="parameters" element="tns:getRulesResponse" />
  </message>
  <message name="getRoles">
    <part name="parameters" element="tns:getRoles" />
  </message>
  <message name="getRolesResponse">
    <part name="parameters" element="tns:getRolesResponse" />
  </message>
  <message name="deleteRole">
    <part name="parameters" element="tns:deleteRole" />
  </message>
  <message name="deleteRoleResponse">
    <part name="parameters" element="tns:deleteRoleResponse" />
  </message>
  <message name="modifyRule">
    <part name="parameters" element="tns:modifyRule" />
  </message>
  <message name="modifyRuleResponse">
    <part name="parameters" element="tns:modifyRuleResponse" />
  </message>
  <message name="modifyRole">
    <part name="parameters" element="tns:modifyRole" />
  </message>
  <message name="modifyRoleResponse">
    <part name="parameters" element="tns:modifyRoleResponse" />
  </message>
  <message name="deleteRule">
    <part name="parameters" element="tns:deleteRule" />
  </message>
  <message name="deleteRuleResponse">
    <part name="parameters" element="tns:deleteRuleResponse" />
  </message>
  <message name="insertRole">
    <part name="parameters" element="tns:insertRole" />
  </message>
  <message name="insertRoleResponse">
    <part name="parameters" element="tns:insertRoleResponse" />
  </message>
  <message name="insertRule">
    <part name="parameters" element="tns:insertRule" />
  </message>
  <message name="insertRuleResponse">
    <part name="parameters" element="tns:insertRuleResponse" />
  </message>
  <message name="noWebService">
    <part name="parameters" element="tns:noWebService" />
  </message>
  <message name="noWebServiceResponse">
    <part name="parameters" element="tns:noWebServiceResponse" />
  </message>
  <message name="changeUserStatus">
    <part name="parameters" element="tns:changeUserStatus" />
  </message>
  <message name="changeUserStatusResponse">
    <part name="parameters" element="tns:changeUserStatusResponse" />
  </message>
  <message name="getUsersByStatus">
    <part name="parameters" element="tns:getUsersByStatus" />
  </message>
  <message name="getUsersByStatusResponse">
    <part name="parameters" element="tns:getUsersByStatusResponse" />
  </message>
  <portType name="AdministradorService">
    <operation name="getRules">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getRulesRequest" message="tns:getRules" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getRulesResponse" message="tns:getRulesResponse" />
    </operation>
    <operation name="getRoles">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getRolesRequest" message="tns:getRoles" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getRolesResponse" message="tns:getRolesResponse" />
    </operation>
    <operation name="deleteRole">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/deleteRoleRequest" message="tns:deleteRole" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/deleteRoleResponse" message="tns:deleteRoleResponse" />
    </operation>
    <operation name="modifyRule">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/modifyRuleRequest" message="tns:modifyRule" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/modifyRuleResponse" message="tns:modifyRuleResponse" />
    </operation>
    <operation name="modifyRole">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/modifyRoleRequest" message="tns:modifyRole" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/modifyRoleResponse" message="tns:modifyRoleResponse" />
    </operation>
    <operation name="deleteRule">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/deleteRuleRequest" message="tns:deleteRule" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/deleteRuleResponse" message="tns:deleteRuleResponse" />
    </operation>
    <operation name="insertRole">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/insertRoleRequest" message="tns:insertRole" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/insertRoleResponse" message="tns:insertRoleResponse" />
    </operation>
    <operation name="insertRule">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/insertRuleRequest" message="tns:insertRule" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/insertRuleResponse" message="tns:insertRuleResponse" />
    </operation>
    <operation name="noWebService">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/noWebServiceRequest" message="tns:noWebService" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/noWebServiceResponse" message="tns:noWebServiceResponse" />
    </operation>
    <operation name="changeUserStatus">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/changeUserStatusRequest" message="tns:changeUserStatus" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/changeUserStatusResponse" message="tns:changeUserStatusResponse" />
    </operation>
    <operation name="getUsersByStatus">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getUsersByStatusRequest" message="tns:getUsersByStatus" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AdministradorService/getUsersByStatusResponse" message="tns:getUsersByStatusResponse" />
    </operation>
  </portType>
  <binding name="AdministradorServicePortBinding" type="tns:AdministradorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getRules">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteRole">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyRule">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyRole">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteRule">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertRole">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertRule">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="noWebService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changeUserStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUsersByStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AdministradorService">
    <port name="AdministradorServicePort" binding="tns:AdministradorServicePortBinding">
      <soap:address location="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AdministradorService" />
    </port>
  </service>
</definitions>