ProyectoNET/PUCPSaludable/Connected Services/IndicadorAntropometricoWS/IndicadorAntropoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarIndicadorAntropom" type="tns:eliminarIndicadorAntropom" />
  <xs:element name="eliminarIndicadorAntropomResponse" type="tns:eliminarIndicadorAntropomResponse" />
  <xs:element name="insertarIndicadorAntropom" type="tns:insertarIndicadorAntropom" />
  <xs:element name="insertarIndicadorAntropomResponse" type="tns:insertarIndicadorAntropomResponse" />
  <xs:element name="listarIndicadorAntropomPorAlumno" type="tns:listarIndicadorAntropomPorAlumno" />
  <xs:element name="listarIndicadorAntropomPorAlumnoResponse" type="tns:listarIndicadorAntropomPorAlumnoResponse" />
  <xs:element name="modificarIndicadorAntropom" type="tns:modificarIndicadorAntropom" />
  <xs:element name="modificarIndicadorAntropomResponse" type="tns:modificarIndicadorAntropomResponse" />
  <xs:complexType name="eliminarIndicadorAntropom">
    <xs:sequence>
      <xs:element name="idIndicador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarIndicadorAntropomResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarIndicadorAntropom">
    <xs:sequence>
      <xs:element minOccurs="0" name="indicadorAntropometrico" type="tns:indicadorAntropometrico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="indicadorAntropometrico">
    <xs:sequence>
      <xs:element name="circunferenciaAbdominal" type="xs:double" />
      <xs:element name="circunferenciaBrazo" type="xs:double" />
      <xs:element name="circunferenciaCadera" type="xs:double" />
      <xs:element name="circunferenciaCintura" type="xs:double" />
      <xs:element name="estatura" type="xs:double" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="fid_alumno" type="xs:int" />
      <xs:element name="id_indicadorAntropometrico" type="xs:int" />
      <xs:element name="pesoHabitual" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarIndicadorAntropomResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIndicadorAntropom">
    <xs:sequence>
      <xs:element minOccurs="0" name="indicadorAntropometrico" type="tns:indicadorAntropometrico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarIndicadorAntropomResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIndicadorAntropomPorAlumno">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIndicadorAntropomPorAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:indicadorAntropometrico" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>