ProyectoNET/PUCPSaludable/Connected Services/HorarioHabitualWS/HorarioHabitual.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HorarioHabitual" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioHabitual?xsd=1" namespace="http://services.pucpsaludable.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerHorarioHabitual">
    <part name="parameters" element="tns:obtenerHorarioHabitual" />
  </message>
  <message name="obtenerHorarioHabitualResponse">
    <part name="parameters" element="tns:obtenerHorarioHabitualResponse" />
  </message>
  <message name="modificarHorarioHabitual">
    <part name="parameters" element="tns:modificarHorarioHabitual" />
  </message>
  <message name="modificarHorarioHabitualResponse">
    <part name="parameters" element="tns:modificarHorarioHabitualResponse" />
  </message>
  <message name="insertarHorarioHabitual">
    <part name="parameters" element="tns:insertarHorarioHabitual" />
  </message>
  <message name="insertarHorarioHabitualResponse">
    <part name="parameters" element="tns:insertarHorarioHabitualResponse" />
  </message>
  <portType name="HorarioHabitualService">
    <operation name="obtenerHorarioHabitual">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/obtenerHorarioHabitualRequest" message="tns:obtenerHorarioHabitual" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/obtenerHorarioHabitualResponse" message="tns:obtenerHorarioHabitualResponse" />
    </operation>
    <operation name="modificarHorarioHabitual">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/modificarHorarioHabitualRequest" message="tns:modificarHorarioHabitual" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/modificarHorarioHabitualResponse" message="tns:modificarHorarioHabitualResponse" />
    </operation>
    <operation name="insertarHorarioHabitual">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/insertarHorarioHabitualRequest" message="tns:insertarHorarioHabitual" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/HorarioHabitualService/insertarHorarioHabitualResponse" message="tns:insertarHorarioHabitualResponse" />
    </operation>
  </portType>
  <binding name="HorarioHabitualServicePortBinding" type="tns:HorarioHabitualService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerHorarioHabitual">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarHorarioHabitual">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHorarioHabitual">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HorarioHabitual">
    <port name="HorarioHabitualServicePort" binding="tns:HorarioHabitualServicePortBinding">
      <soap:address location="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/HorarioHabitual" />
    </port>
  </service>
</definitions>