ProyectoNET/PUCPSaludable/Connected Services/AlimentoWS/AlimentoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucpsaludable.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlimentoWebService" targetNamespace="http://services.pucpsaludable.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AlimentoWebService?xsd=1" namespace="http://services.pucpsaludable.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarAlimento">
    <part name="parameters" element="tns:insertarAlimento" />
  </message>
  <message name="insertarAlimentoResponse">
    <part name="parameters" element="tns:insertarAlimentoResponse" />
  </message>
  <message name="modificarAlimento">
    <part name="parameters" element="tns:modificarAlimento" />
  </message>
  <message name="modificarAlimentoResponse">
    <part name="parameters" element="tns:modificarAlimentoResponse" />
  </message>
  <message name="filtrarPorPreferencia">
    <part name="parameters" element="tns:filtrarPorPreferencia" />
  </message>
  <message name="filtrarPorPreferenciaResponse">
    <part name="parameters" element="tns:filtrarPorPreferenciaResponse" />
  </message>
  <message name="adquirirAlimento">
    <part name="parameters" element="tns:adquirirAlimento" />
  </message>
  <message name="adquirirAlimentoResponse">
    <part name="parameters" element="tns:adquirirAlimentoResponse" />
  </message>
  <message name="eliminarAlimento">
    <part name="parameters" element="tns:eliminarAlimento" />
  </message>
  <message name="eliminarAlimentoResponse">
    <part name="parameters" element="tns:eliminarAlimentoResponse" />
  </message>
  <portType name="AlimentoWebService">
    <operation name="insertarAlimento">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/insertarAlimentoRequest" message="tns:insertarAlimento" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/insertarAlimentoResponse" message="tns:insertarAlimentoResponse" />
    </operation>
    <operation name="modificarAlimento">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/modificarAlimentoRequest" message="tns:modificarAlimento" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/modificarAlimentoResponse" message="tns:modificarAlimentoResponse" />
    </operation>
    <operation name="filtrarPorPreferencia">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/filtrarPorPreferenciaRequest" message="tns:filtrarPorPreferencia" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/filtrarPorPreferenciaResponse" message="tns:filtrarPorPreferenciaResponse" />
    </operation>
    <operation name="adquirirAlimento">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/adquirirAlimentoRequest" message="tns:adquirirAlimento" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/adquirirAlimentoResponse" message="tns:adquirirAlimentoResponse" />
    </operation>
    <operation name="eliminarAlimento">
      <input wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/eliminarAlimentoRequest" message="tns:eliminarAlimento" />
      <output wsam:Action="http://services.pucpsaludable.pucp.edu.pe/AlimentoWebService/eliminarAlimentoResponse" message="tns:eliminarAlimentoResponse" />
    </operation>
  </portType>
  <binding name="AlimentoWebServicePortBinding" type="tns:AlimentoWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="filtrarPorPreferencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="adquirirAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlimentoWebService">
    <port name="AlimentoWebServicePort" binding="tns:AlimentoWebServicePortBinding">
      <soap:address location="http://ws.pucpsaludable.ml:8080/pucpsaludableWebServices/AlimentoWebService" />
    </port>
  </service>
</definitions>